.container {
  box-shadow: -5px 10px 10px 2px #0003;
}

.offcanvas__header p {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.03333em;
}

.offcanvas__headerBtn {
  z-index: 1;
  left: -25px;
}

.offcanvas__headerBtn img {
  width: 34px;
}

.btn {
  background: #4caf50;
  outline: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}

.btn:hover {
  opacity: 0.9;
}

.btn span {
  font-weight: 500;
  font-size: 14px;
}
